.post {
  border-radius: 5px;
  border: solid 1px rgb(211, 211, 211);
  margin: 20px 10px;
  background-color: #ffffff;
  text-align: left;
}

.username, .message {
  color: black;
  margin: 0;
}

.username {
  font-size: 12px;
  padding: 10px;
}

.message {
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-top: solid 1.5px rgb(211, 211, 211);
  border-bottom: solid 1.5px rgb(211, 211, 211);
}


.updatebutton {
  padding: 5px 15px;
  margin: 0 0 10px 10px;
  font-size: 12px;
  
}